body {
  font-family: Helvetica;
/*  background: #EFBCD5; */
  background: #00aced;
}

.cat {
/*  background-color: #4CE0D2;*/
  background-color: white;
  text-align: center;
  margin-left: 13.7em;
  margin-right: 5.05em;
  margin-top: 1em;
  display: inline-block;
  height: 25em;
  width: 25em;
  border-radius: 50%;
}

.cat h3 {
  padding-top: 25%;
}

.cat h1 {
  padding-top: 10%;
}

.dog {
/*  background-color: #4CE0D2;*/
  background-color: white;
  text-align: center;
  margin-left: 6em;
  margin-right: 12em;
  margin-top: 1em;
  display: inline-block;
  height: 25em;
  width: 25em;
  border-radius: 50%;
}

.dog h3 {
  padding-top: 25%;
}

.dog h1 {
  padding-top: 10%;
}

.heading {
  text-align: center;
  font-size: 80px;
  margin: auto;
/*  color: #6BFFB8;*/
}
